* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.app {
  width: 360px;
  height: 480px;
  padding: 12px;
  border-radius: 18px;
  box-shadow: 0px 0px 18px #ddd;
  background-color: #f9f9f9;
  color: #333;
}
.game {
  display: flex;
  justify-content: space-between;
}
.title {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}
.subtitle {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}
.mb6 {
  margin-bottom: 6px;
}
.mt6 {
  margin-top: 6px;
}

.game-board {
  width: 50%;
}
.board {
  width: 105px;
  margin: 0 auto;
}
.board-row {
  margin-bottom: -1px;
  height: 36px;
  display: flex;
  align-items: top;
}
.square {
  margin-right: -1px;
  margin-top: -1px;
  width: 36px;
  height: 36px;
  padding: 0;
  border: 1px solid #ccc;
  background-color: #fff;
  color: darkred;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
}
.square:hover, .square:active {
  cursor: pointer;
}

.game-info {
  width: 50%;
}
li {
  height: 36px;
  list-style-type: none;
  text-align: center;
}
.move {
  height: 30px;
  padding: 6px 12px;
  border-radius: 18px;
  border: none;
  background-color: #eee;
  font-size: 15px;
  font-weight: 400;
}
.move:hover, .move:active {
  cursor: pointer;
  animation-name: swapColor;
	animation-duration: 0.6s;
	animation-fill-mode: forwards;
}
@keyframes swapColor {
  from {
    background-color: #eee;
    color: #333;
  }
  to {
    background-color: darkred;
    color: #fff;
  }
}
.current {
  font-size: 15px;
  font-weight: 700;
  line-height: 35px;
  color: darkred;
}